// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import "@fortawesome/fontawesome-free/css/all.min.css";

.custom_container {
    max-width: 1500px;
    margin: auto;
    width: 100%;
    display: flex;
    padding: 0 5px;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

* {
    font-size: 16px;
}
