@tailwind base;
@tailwind components;
@tailwind utilities;

button[disabled] {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(100%);
}
[contenteditable] {
    position: relative;
}
[contenteditable][aria-placeholder]:empty:before {
    content: attr(aria-placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
    pointer-events: none;
}

*:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

input:not([data-notstyles]):not([type="checkbox"]):not([type="radio"]),
select:not([data-notstyles]),
textarea:not([data-notstyles]) {
    width: 100%;
    border-radius: 14px;
    background-color: white;
    border: 1px solid #e2e8f0;
    padding: 10px;
    &:hover {
        border-color: #c3c8cd;
    }
}

input:not([data-notstyles]):not([data-notoutline-styles]),
select:not([data-notstyles]),
textarea:not([data-notstyles]) {
    &:focus {
        border-color: #1473e9;
        outline: 4px solid #1474e9c3;
        outline-offset: 0px;
        transition: all 0.1s;
        position: relative;
    }
}

button,
input[type="submit"],
input[type="reset"],
a,
[role="button"] {
    &:focus-visible {
        border-color: #1473e9;
        outline: 4px solid #1474e9c3;
        outline-offset: 0px;
        transition: all 0.1s;
        position: relative;
    }
}

input[data-notstyles] {
    outline: none !important;
    &:focus {
        outline: none !important;
    }
    &:focus-visible {
        outline: none !important;
    }
}

select:not([size]) {
    background-image: none;
}

/* FULL CALENDAR CUSTOM */

.fc-toolbar-title {
    font-size: 1.2rem !important;
    font-weight: 500;
}

table.fc-scrollgrid {
    background-color: white;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
    padding: 0;
    border-spacing: 0 !important;
    border-color: #eaeef0 !important;
}

th.fc-col-header-cell {
    padding: 5px;
    color: #131415;
    font-weight: 500;
}

.fc-timegrid-slot-label {
    font-weight: 400;
    font-size: 14px;
    padding: 6px !important;
}

.fc-timegrid-slots table tr {
    transition: all 0.15s ease;
}

.fc-timegrid-slot-label[data-time*=":15"],
.fc-timegrid-slot-label[data-time*=":30"],
.fc-timegrid-slot-label[data-time*=":45"] {
    font-size: 14px;
    opacity: 0.9;
}

.fc-day-today {
    background-color: #fdfcfb;
}

.fc-day-past {
    background-color: #fdfcfb;
}

.fc-timegrid-event {
    border-radius: 10px !important;
    padding: 5px;
}

.fc-theme-standard .fc-scrollgrid {
    border-top: 1px solid #f3f5f7;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 14px !important;
}

.fc-header-toolbar {
    padding: 5px;
    margin-bottom: 0 !important;
}

th.fc-col-header-cell {
    border-right: 1px solid #ffffff !important;
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: #fbf5ed;
}

.fc-button-group {
    & button {
        border: 0 !important;
        outline: none !important;
        &:first-child {
            border-radius: 9px 0 0 9px !important;
        }
        &:last-child {
            border-radius: 0 9px 9px 0 !important;
        }
        & .fc-icon {
            font-size: 1.1rem !important;
        }
    }
}

.fc-button-primary {
    border-radius: 9px !important;
    padding: 6px 10px !important;
}

.hidden-scroll::-webkit-scrollbar {
    display: none;
}
