@tailwind base;
@tailwind components;
@tailwind utilities;

button[disabled] {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(100%);
}
[contenteditable] {
    position: relative;
}
[contenteditable][aria-placeholder]:empty:before {
    content: attr(aria-placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
    pointer-events: none;
}

*:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

input:not([data-notstyles]):not([type="checkbox"]):not([type="radio"]),
select:not([data-notstyles]),
textarea:not([data-notstyles]) {
    width: 100%;
    border-radius: 14px;
    background-color: white;
    border: 1px solid #e2e8f0;
    padding: 10px;
    &:hover {
        border-color: #c3c8cd;
    }
    appearance: auto !important;
}

input:not([data-notstyles]):not([data-notoutline-styles]),
select:not([data-notstyles]),
textarea:not([data-notstyles]) {
    &:focus {
        border-color: #1473e9;
        outline: 4px solid #1474e9c3;
        outline-offset: 0px;
        /* transition: all 0.1s; */
        position: relative;
    }
    appearance: auto !important;
}

button,
input[type="submit"],
input[type="reset"],
a,
[role="button"] {
    &:focus-visible {
        border-color: #1473e9;
        outline: 4px solid #1474e9c3;
        outline-offset: 0px;
        transition: all 0.1s;
        position: relative;
    }
    appearance: auto !important;
}

input[data-notstyles] {
    outline: none !important;
    &:focus {
        outline: none !important;
    }
    &:focus-visible {
        outline: none !important;
    }
}

select:not([size]) {
    background-image: none;
}

/* FULL CALENDAR CUSTOM */

.fc-toolbar-title {
    font-size: 1.2rem !important;
    font-weight: 500;
}

table.fc-scrollgrid {
    background-color: white;
}

.datepicker-picker {
    table,
    thead,
    tbody,
    tfoot,
    tr,
    th,
    td {
        padding: 0;
        border-spacing: 0 !important;
        border-color: #eaeef0 !important;
    }
}

th.fc-col-header-cell {
    padding: 5px;
    color: #131415;
    font-weight: 500;
}

.fc-timegrid-slot-label {
    font-weight: 400;
    font-size: 14px;
    padding: 6px !important;
}

.fc-timegrid-slots table tr {
    transition: all 0.15s ease;
}

.fc-timegrid-slot-label[data-time*=":15"],
.fc-timegrid-slot-label[data-time*=":30"],
.fc-timegrid-slot-label[data-time*=":45"] {
    font-size: 14px;
    opacity: 0.9;
}

.fc-day-today {
    background-color: #fdfcfb;
}

.fc-day-past {
    background-color: #fdfcfb;
}

.fc-timegrid-event {
    border-radius: 10px !important;
    padding: 5px;
}

.fc-theme-standard .fc-scrollgrid {
    border-top: 1px solid #f3f5f7;
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 14px !important;
}

.fc-header-toolbar {
    padding: 5px;
    margin-bottom: 0 !important;
}

th.fc-col-header-cell {
    border-right: 1px solid #ffffff !important;
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: #fbf5ed;
}

.fc-button-group {
    & button {
        border: 0 !important;
        outline: none !important;
        &:first-child {
            border-radius: 9px 0 0 9px !important;
        }
        &:last-child {
            border-radius: 0 9px 9px 0 !important;
        }
        /* Center border-radius 0 */
        &:not(:first-child):not(:last-child) {
            border-radius: 0 !important;
        }

        & .fc-icon {
            font-size: 1.1rem !important;
        }
    }
}

.fc-button-primary {
    border-radius: 9px !important;
    padding: 6px 10px !important;
}

.hidden-scroll::-webkit-scrollbar {
    display: none;
}

.datepicker-picker {
    border-radius: 10px !important;
    .days-of-week {
        padding: 10px 0 !important;

        .dow {
            font-size: 14px;
            font-weight: 500 !important;
        }
    }
    .datepicker-header {
        .datepicker-controls {
            border-bottom: 1px solid #dadcdd;
            .button {
                padding: 10px 0 !important;
                font-weight: 500 !important;
            }
        }
    }
    .datepicker-cell {
        border-radius: 0px !important;
        &.range-start {
            border-radius: 20px 0 0 20px !important;
        }
        &.range-end {
            border-radius: 0 20px 20px 0 !important;
        }
        &.range {
            background-color: #eff1f4 !important;
        }
    }
}

/* dinamic result automplete */

.autocomplete-input {
    padding-left: 48px !important;
    background-color: #eee;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: 12px center;
}

.autocomplete-input:focus,
.autocomplete-input[aria-expanded="true"] {
    border-color: rgba(0, 0, 0, 0.12);
    background-color: #fff;
    outline: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

[data-position="below"] .autocomplete-input[aria-expanded="true"] {
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
}

[data-position="above"] .autocomplete-input[aria-expanded="true"] {
    border-top-color: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 2;
}

/* Loading spinner */
.autocomplete[data-loading="true"]::after {
    content: "";
    border: 3px solid rgba(0, 0, 0, 0.12);
    border-right: 3px solid rgba(0, 0, 0, 0.48);
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    animation: rotate 1s infinite linear;
}

.autocomplete-result-list {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0;
    box-sizing: border-box;
    max-height: 296px;
    overflow-y: auto;
    background: #fff;
    list-style: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

[data-position="below"] .autocomplete-result-list {
    margin-top: -1px;
    border-top-color: transparent;
    border-radius: 0 0 8px 8px;
    padding-bottom: 8px;
}

[data-position="above"] .autocomplete-result-list {
    margin-bottom: -1px;
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
    padding-top: 8px;
}

/* Single result item */
.autocomplete-result {
    cursor: default;
    padding: 12px 12px 12px 48px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-position: 12px center;
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected="true"] {
    background-color: rgba(0, 0, 0, 0.06);
}

@keyframes rotate {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(359deg);
    }
}
