@tailwind base;
@tailwind components;
@tailwind utilities;

button[disabled] {
    pointer-events: none;
    opacity: 0.8;
    filter: grayscale(100%);
}
/* [multiple]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
[type="week"]:focus,
select:focus,
textarea:focus {
    --tw-ring-inset: var(--tw-empty);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #1c63f200;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
        var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
        calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    border-color: #1c63f200;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
        var(--tw-shadow);
    outline: 2px solid;
    outline-offset: 1px;
} */

[contenteditable] {
    position: relative;
}
[contenteditable][aria-placeholder]:empty:before {
    content: attr(aria-placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
    pointer-events: none;
}

*:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

input:not([data-notstyles]):not([type="checkbox"]):not([type="radio"]),
select:not([data-notstyles]),
textarea:not([data-notstyles]) {
    width: 100%;
    border-radius: 14px;
    background-color: white;
    border: 1px solid #e2e8f0;
    padding: 10px;
    &:hover {
        border-color: #c3c8cd;
    }
}

input:not([data-notstyles]),
select:not([data-notstyles]),
textarea:not([data-notstyles]) {
    &:focus {
        border-color: #1473e9;
        outline: 4px solid #1474e9c3;
        outline-offset: 0px;
        transition: all 0.1s;
        position: relative;
    }
}

button,
input[type="submit"],
input[type="reset"],
a,
[role="button"] {
    &:focus-visible {
        border-color: #1473e9;
        outline: 4px solid #1474e9c3;
        outline-offset: 0px;
        transition: all 0.1s;
        position: relative;
    }
}

input[data-notstyles] {
    outline: none !important;
    &:focus {
        outline: none !important;
    }
}
select:not([size]) {
    background-image: none;
}
